body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    width: 100%;
    background-image: url('img/karta.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.stop {
    padding: 5px;
    margin: 5px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.route {
    position: absolute;
    background-color: red;
    height: 2px;
    z-index: -1;
}